* { margin: 0; padding: 0; }
body { background: #FFF url(../images/bgnoise.gif); font: 14px/1.231 tahoma, ariel; }

a { text-decoration: none; color: #A1A2A3; }
a:hover { border-bottom: 1px dotted #A4A5A6; }

ul { list-style: none; line-height: 1.25em; }

#container { }

#lside, #rside, #bside-1, #bside-2, #bside-3, .about, #tside, #circle { position: absolute; top: 40%; text-align: center; }

#circle {
               margin-top:-63px;
    left: 50%; margin-left:-63px;

    width:  126px;
    height: 126px;

    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;

    overflow: hidden;
    background: rgba(0,0,0,0.9) url(../images/d.png) 0 0 no-repeat;
}

#flare:before,#flare:after { content:""; position:absolute; }
#flare:before {
    top:-50px;
    left:-50px;

    width:  126px;
    height: 126px;

    border: 1px solid transparent;

    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;

    box-shadow: 50px 50px 0 rgba(255,255,255,0.03);
}
#flare:after {
    top:10px;
    left:10px;

    width:  126px;
    height: 126px;

    border: 1px solid transparent;

    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;

    box-shadow: -10px -10px 0 rgba(255,255,255,0.3);
}

#lside { left:  30%; }
#rside { right: 30%; }

.about {
    width: 400px;
    top: 55%;
    left: 50%;
    margin-left: -200px;
}

.about p {
    font-size: 13px;
    color: #8c8c8c;
}


#bside-1 {
    text-align: left;
    top:  63%;
    left: 43%; 
    
    width: 200px;
    margin-left: -150px;
}
#bside-2 {
    text-align: left;
    top:  63%;
    left: 44%; 

    width: 200px;
    margin-left: 50px;    
}
#bside-3 {
    text-align: left;
    top:  63%;
    left: 56%; 

    width: 200px;
    margin-left: 50px;    
}

#bside-1 h2, #bside-2 h2, #bside-3 h2 {
    font-size: 15px;
    color: #3c3c3c;
    margin-bottom: 10px;
}

#tside {
    left: 50%; margin-left: -170px;
    top: 15%;

    width: 340px;
}

.plugins {
    font-family: 'Lobster', cursive, Ariel;
}
